body{
  background-color: black;
  margin: 228px 43px 53px -22px;
  padding: 16px 5px 10px 10px;
}
.greenBox{
  border: 14px solid white;
  padding: 9px 10px 0px 15px;
  margin: 20px 20px 20px 20px;
  background-color: green;
}
.orangeText{
  color: #F72323;
  font-size: 14px;
}
.greenText{
  color: #1B4A1D;
  font-size: 14px;
}
.dotBox {
  width: 177px;
  border: dotted black;
  padding: 6px 1090px 69px 4px;
  margin: -2px 22px 25px -6px;
}
.purpleText{
  color: purple;
  font-size: 13px;
  position: relative;
  top: 14px;
  left: -14px;
}
