.header {
  background-image: url(header1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  text-align: center;
  height: 272px;
  padding: 20px;
  font-size: 40px;

}

h1{
  font-family: "Times New Roman", Times, serif text-align: center;
  text-transform: capitalize;
  font-weight: 200;
  margin: 10px 10px 10px 10px;
  margin-inline-start: 10px;


}

h2{
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  margin-inline-start: 10px;
}

h3{
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  margin-inline-start: 10px;
}


p {
  text-align: left;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  clear: both;
  margin-inline-start: 10px;
  margin-inline-end: 41px;

}

/* Title box */
.whiteSolid {
  margin: 30px 6% 85px 10%;
  border: white 1.5px solid;
  background-color: White;
  opacity: 0.5;

}

/* The navbar container */
.topnav {
  background-color: #333;
  height: 50px;
  width: 100%;


}


/* Links - change color on hover */
.topnav a:hover {
  background-color: #424e7a;
  color: black;

}
/* Drop down button*/
.dropbtn {
  background-color: #424e7a;
  color: white;
  padding: 19px;
  font-size: 12px;
  border: none;
  cursor: pointer;

}

/*Menu*/
.dropdown {
  position: relative;
  display: inline-block;

}

/* Menu Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

/* Links inside the menu */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 300;

}

/* Change color of menu links on hover */
.dropdown-content a:hover {
  background-color: #424e7a;
  z-index: 500;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 500;
}

.dropdown:hover .dropbtn {
  background-color: #424e7a;
}


/* Left column */
.columnLeft {
  width: 25%;
  float: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}



/* Search bar - https://jsfiddle.net/cb3fu9wj/*/
.searchbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Right column*/
.columnRight {
  width: 75%;
  float: left;
  text-align: left;
}
/* Main gallery photos*/
div.gallery {
  margin: 50px;
  border: 1px solid #white;
  float: left;
  width: 1300px;

}

div.gallery:hover {
  border: 1px solid #424e7a;
  box-shadow:  1px 2px 4px rgba(0, 0, 0, .5);
}

div.gallery img {
  width: 100%;
  height: 100%;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;

}

/* footer*/
.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
  clear: both;
}

/*Social icons*/
.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;

}

.fa-youtube {
  background: #bb0000;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;

}
.fa:hover {
  opacity: 0.7;
}

/* All codes are from https://www.w3schools.com/
or our lecture notesunless otherwise stated*/
